.foreground {
  grid-column: 2/span 8;
  grid-row: 3;
  background-color: #06213f54;
  min-height: 100px;
  min-width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .foreground__main {
    grid-column: 1/ span 8;
    background-color: red;
    position: relative; }
  .foreground__lists {
    grid-column: 9/-1;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
    display: grid;
    align-content: center;
    list-style: none; }
  .foreground__figure--main {
    position: relative;
    width: 100%;
    height: 49.1rem;
    object-fit: cover;
    display: block; }
  .foreground__overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, #1569c700, #121212 89%);
    width: 100%;
    height: 60%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr) max-content repeat(4, 1fr);
    padding-top: 15rem;
    color: rgba(255, 255, 255, 0.7); }

.overlay__time {
  font-size: 10rem;
  grid-column: 1/span 3;
  align-self: center;
  justify-self: center; }

.overlay__description {
  grid-column: 5/-1;
  justify-self: start;
  padding-top: 3rem;
  align-items: center;
  font-size: 4rem; }

.overlay__divider {
  width: 3px;
  height: 60%;
  background-color: var(--color-tertairy);
  align-self: center;
  margin-right: 1rem; }

.logo {
  grid-column: 1/span 2;
  justify-self: center;
  margin-bottom: 3rem; }
  .logo__img {
    width: 20rem; }

.shows {
  margin-bottom: 5px;
  height: 110px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #3e6150; }
  .shows__active {
    box-shadow: 0 2px 9px -6px;
    border-left: 3px solid var(--color-tertairy);
    border-right: 3px solid var(--color-tertairy); }
  .shows--lists {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
    padding-top: 8px;
    padding-right: .8rem; }
  .shows__thumbnail {
    grid-column: 1/span 2;
    width: 100px;
    height: 100px;
    justify-self: center; }
  .shows__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .shows__details {
    grid-column: 3/-1;
    color: #fff;
    align-self: center;
    font-size: 1.6rem;
    font-family: var(--font-family); }

.popular {
  margin-top: 8rem;
  grid-column: 2/ span 8;
  display: flex;
  justify-content: space-evenly; }

.card__heading {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  color: #fff; }

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(247, 174, 190, 0.7), rgba(255, 119, 48, 0.7)); }
  .card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(9, 213, 83, 0.7), rgba(255, 119, 48, 0.7)); }
  .card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)); }

.home {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.3), rgba(0, 0, 0, 0.9)), url("../../img/img/gal-4.jpeg");
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content; }
  .home--aboutus {
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.3), 10%, black), url("../../img/img/gal-4.jpeg"); }
  .home__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .home__welcome {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-content: center; }
    .home__welcome .hotel {
      position: relative;
      width: 40rem; }
      .home__welcome .hotel img {
        margin-left: 6rem; }
      .home__welcome .hotel__prefix {
        width: 300px;
        height: 3px;
        background-color: orangered;
        align-self: end; }
      .home__welcome .hotel__name {
        position: absolute;
        left: 2rem;
        bottom: -3rem;
        font-size: 6rem;
        color: #c8edc8f7; }
  .home__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: 100%; }

.footer__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
  margin-right: 1rem; }

.footer__copyright {
  font-size: 1.6rem;
  color: #fff; }

.nav-top {
  grid-column: 1/span 5; }
  .nav-top--page {
    grid-column: 1; }
  .nav-top__list {
    list-style: none;
    height: 6rem;
    background-image: linear-gradient(to bottom, #ffd164, 10%, rgba(91, 224, 91, 0.3));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: .8rem;
    align-items: center;
    color: rgba(255, 255, 255, 0.8); }
    .nav-top__list--page {
      background-image: linear-gradient(to bottom, rgba(255, 209, 100, 0.5), 5%, rgba(91, 224, 91, 0.3), 95%, #ffd164);
      color: rgba(255, 255, 255, 0.8);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .nav-top__link:link, .nav-top__link:visited {
    font-size: 1.4rem;
    color: currentColor;
    text-decoration: none;
    font-family: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav-top__link:hover, .nav-top__link:active {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold; }

.active {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold; }

.aboutus {
  margin-top: 7rem;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  grid-row: 2;
  grid-column: 4/ span 6; }

.section-book {
  background-image: linear-gradient(to right bottom, #9eff43, #70b630);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

.book {
  overflow: hidden;
  background-image: linear-gradient(105deg, #0c0d08 0%, rgba(255, 165, 0, 0.84) 60%, transparent 60%), url(../../img/img/gal-4.jpeg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 1rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__textarea {
  font-size: 1.6rem;
  font-family: inherit;
  color: #000;
  border: none;
  display: block;
  padding: 1rem 1rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  width: 35rem;
  height: 14rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #16191b;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4d7f4f !important; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #9eff43;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9eff43;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

:root {
  --secondary-color: #76a85c;
  --primary-color: #307408;
  --color-tertairy: rgba(255, 119, 48, 0.7);
  --font-family: "lato", sans-serif; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.title-helper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  grid-gap: 5rem;
  margin-bottom: 4rem; }
  .title-helper::after, .title-helper::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: orange; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #9eff43;
  color: #fff; }
  .btn--green::after {
    background-color: #9eff43; }

.btn--black {
  background-color: #16191b;
  color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #9eff43;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #9eff43;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #9eff43;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.welcome {
  grid-column: 3/span 6;
  grid-row: 2;
  color: #fff; }
  .welcome__nav {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px; }
  .welcome__item {
    margin: auto 22px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: lato;
    padding: 16px 0;
    border-bottom-color: var(--primary-color);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s; }
    .welcome__item:hover {
      border-bottom-width: 2px;
      color: #84ae90; }
