.foreground {
    min-height: 180rem;
    min-width: 1360px;
    // background-color: orangered;
    position: absolute;
    top: 137px;
    left: 178px;
    border-top-right-radius: 5px;
    overflow: hidden;
}